Q1. Create one variable containing following type of data

1. String  my_string = "Mohan"

2. list    my_list = [2, 4, 6]

3. float   my_float = 25.22

4. tuple   my_tuple = (2, 5, 8)

Q2. Given are some following variables containing data:

In [2]:
var1 = ''
print( type(var1) )

<class 'str'>

In [3]:
var2 = '[DS, ML, Python]'
print( type(var2) )

<class 'str'>

In [4]:
var3 = ['DS', 'ML', 'Python' ]
print( type(var3) )

<class 'list'>

In [5]:
var4 = 1
print( type(var4) )

<class 'int'>

Q3.  Explain the use of the following operators using an example

In [6]:
# 1. / Divison operator divides two number
a = 10 / 5
a

2.0

In [7]:
#2. % Modulo operator gives the remainder on dividing the two number 
b = 10 % 5
b

0

In [8]:
#3. // It performs division between two numbers and returns the quotient rounded down to the nearest integer.
c = 7 // 2
c

3

In [9]:
#4 ** the ** operator is used for exponentiation
sq = 7**2
sq

49

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [10]:
li = [1, 2, 3, 4, "Mohan", 52.23, 'a', 'b', True, 8]

for i in li:
    print("Data :", i ,"Data type: ", type(i))

Data : 1 Data type:  <class 'int'>
Data : 2 Data type:  <class 'int'>
Data : 3 Data type:  <class 'int'>
Data : 4 Data type:  <class 'int'>
Data : Mohan Data type:  <class 'str'>
Data : 52.23 Data type:  <class 'float'>
Data : a Data type:  <class 'str'>
Data : b Data type:  <class 'str'>
Data : True Data type:  <class 'bool'>
Data : 8 Data type:  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [13]:
# Here i assume for value A and B 

a = 36 
b = 6

count = 0;

if( a%b != 0):
    print("The number A is not purely divisible by number B");

# Finding how many times it was A is divisble by number B

while( a != 0 ):
    
    if( a % b == 0 ):
        count +=1
    else:
        break
        
    a = a / b;

print("The number A is divisible by number B that much times: ", count)

The number A is divisible by number B that much times:  2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [15]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in integer_list:
    if( i % 3 == 0 ):
        print("The number is divisble by 3 ", i)
    else:
        print("The number is not divisble by 3 ", i)

The number is not divisble by 3  1
The number is not divisble by 3  2
The number is divisble by 3  3
The number is not divisble by 3  4
The number is not divisble by 3  5
The number is divisble by 3  6
The number is not divisble by 3  7
The number is not divisble by 3  8
The number is divisble by 3  9
The number is not divisble by 3  10
The number is not divisble by 3  11
The number is divisble by 3  12
The number is not divisble by 3  13
The number is not divisble by 3  14
The number is divisble by 3  15
The number is not divisble by 3  16
The number is not divisble by 3  17
The number is divisble by 3  18
The number is not divisble by 3  19
The number is not divisble by 3  20
The number is divisble by 3  21
The number is not divisble by 3  22
The number is not divisble by 3  23
The number is divisble by 3  24
The number is not divisble by 3  25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

Immutable data types are those whose values cannot be modified after they are created. 

Mutable data types are those whose values can be modified after they are created.

In [1]:

# Example 
s = "Mohan"
l = [5, 2, 7]

l[0] = 48 # here we modify data in list because list are mutable in nature
s[0] = 'a' # Gives me error they are immutable in nature 

print( l )
print( s )

TypeError: 'str' object does not support item assignment